body {
	background-color: white;
}

.col-xs-12 {
	
	text-align: center;
}
 
.layer div  {
    position: absolute;
}
 
.box {
    background-color:white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

